.contact-preview{
    display: flex;
    margin-bottom: 20px;
    img{
        width: 50px;
        margin-right: 20px;
    }
    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}